{# src/Plopcom/InscriptionsBundle/Resources/views/Inscription/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
   Inscription {{ race.title }}
{% endblock %}

{% block body %}
    <h1> Nouvelle inscription <b>{{ race.title }}</b> </h1>
    {{ include('inscription/form.html.twig', { 'form': form }) }}
{% endblock %}