<html>
<body>
    {% for athlete in inscription.athletes %}
        Bonjour {{ athlete.fullname }},<br>
    {% endfor %}
    Votre paiement à la course "<b>{{ inscription.race.title }}</b>" a bien été reçu. <br>
    Votre inscription sera bientôt validée par notre équipe. <br>
    Bonne journée.
</body>
</html>