{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('type_index') }}" class="btn btn-default">
            Gérer les types de course
        </a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        <h2>Mes événements</h2>
        <div class="events-list row">
            {% for event in my_events %}
                {{ include('event/event_details.html.twig', { 'event': event }) }}
            {% endfor %}
        </div>

        <a href="{{ path('event_new') }}" class="btn btn-default">
            <i class="fa fa-fw fa-plus"></i>
            Créer un nouvel événement
        </a>
        <hr>
    {% endif %}

    <p>Bonjour et bienvenue sur la plateforme d'inscription de RaidsAventure.fr</p>

    <h2>&Eacute;vénements en cours</h2>
    <div class="events-list  row">
        {% for event in events %}
            {{ include('event/event_details.html.twig', { 'event': event }) }}
        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
<style></style>
{% endblock %}
