{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau type</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <br>

    <a href="{{ path('type_index') }}" class="btn btn-default"><i class="fa fa-chevron-left fa-fw"></i>Retour</a>

{% endblock %}
