imports:
    - { resource: parameters.yml }
    - { resource: security.yml, schemes: [https] }
    - { resource: services.yml }
    - { resource: "@PlopcomInscriptionsBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr

vich_uploader:
    db_driver: orm
    mappings:
          header_image:
              uri_prefix:         /media/home
              upload_destination: '%kernel.root_dir%/../web/media/home'
              inject_on_load:     false
              delete_on_update:   true
              delete_on_remove:   true

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: true
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:
            - 'PlopcomInscriptionsBundle:Form:fields.html.twig'
    globals:
            paypal_url: '%plopcominscriptions.paypal.url%'

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        mapping_types:
            enum: string
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true



# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    port:      "%mailer_port%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    encryption:  "%mailer_encryption%"
    auth_mode:  "%mailer_auth_mode%"
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Plopcom\InscriptionsBundle\Entity\User
    from_email:
        address:        contact@raidsaventure.fr
        sender_name:    inscriptions.RaidsAventure.fr

liip_imagine:
    resolvers:
       default:
          web_path: ~
    filter_sets:
        my_thumb_race_event:
            filters:
                # cropping
                strip: ~
                thumbnail: { size: [350, 160], mode: outbound }
        my_cover_race:
            filters:
                # cropping
                strip: ~
                thumbnail: { size: [1200, 627], mode: inset, allow_upscale: true }