{% extends 'base.html.twig' %}

{% block title %}
Nouvelle course
{% endblock %}

{% block body %}
    <h1>Nouvelle course</h1>

    {{ form_start(form) }}
        {% include 'race/_partial/form.html.twig' with { 'form': form, 'race' : race } only %}
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" ><i class="fa fa-fw fa-plus"></i>Créer</button><a href="{{ path('event_index') }}" class="btn btn-default"><i class="fa fa-fw fa-chevron-left"></i>Retour</a>
        </div>
    {{ form_end(form) }}


{% endblock %}
